body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

input:focus {
    box-shadow: 5px 5px 5px #f69546 !important;
}

textarea:focus {
    box-shadow: 5px 5px 5px #f69546 !important;
}

::placeholder {
    font-size: large !important;
    font-style: italic !important;
}

a {
    color: #d66000;
    text-decoration: none;
}

a:hover {
    color: #fc9251;
  }

@media (max-width: 768px) {
    .inResponsive {
        margin-top: 22px;
    }
}

img {
    width: 26px;
}


footer {
    background-color: #d66000;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    /* Push the footer to the bottom */
}

footer p {
    margin: 0;
}