/* CSS code for style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
  display: flex;
  flex-direction: column; /* Make body a flex container with column direction */
}

header {
  background-color: #d66000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  width: 80%;
  max-width: 900px;
}

.contact-form {
  flex: 1;
  margin-right: 20px;
}

.contact-form h2 {
  color: #d66000;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button[type="submit"] {
  background-color: #d66000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #fc9251;
}

.email a {
  color: #d66000;
}

.email a:hover {
  color: #fc9251;
  background-color: white;
}

.collab-ways {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.collab-section,
.other-ways {
  margin-top: 20px;
}

.collab-section h2,
.other-ways h2 {
  color: #d66000;
}

.collab-section p {
  margin-bottom: 10px;
}

.other-ways .social-media {
  display: flex;
}

.other-ways .social-media a {
  margin-right: 40px;
  color: #d66000;
  text-decoration: none;
}

.other-ways .social-media a:hover {
  color: #fc9251;
}

footer {
  background-color: #d66000;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Push the footer to the bottom */
}

footer p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-form,
  .collab-ways {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  .contact-form,
  .collab-ways {
    width: 100%;
  }
}
