/* ---------LAYOUT--------- */
* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}

ul {
  list-style: none;
}

.container {
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

/* -----------NAVBAR -----------*/
.nav {
  max-width: 968px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  text-decoration: none;
}
.nav-logo:hover {
  color: #d66000 !important;
}
#logo {
  width: 25px;
  margin-bottom: 0.3rem;
}

.nav_toggle {
  font-size: 1.1rem;
  cursor: pointer;
}
.nav_toggle:hover {
  color: #d66000 !important;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: #081420;
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.1s;
  }
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.navbar_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
}

.nav-icon {
  font-size: 1.2rem;
}
.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 2.5rem;
}
/* SHOW MENU */
.show-menu {
  bottom: 0;
}

/* -----MEDIA QUERRY----- */

/* small device */
@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav-list {
    column-gap: 0;
  }
}

/* medium device */

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .header {
    top: 0;
    bottom: initial;
    padding: 0 1rem;
  }
  .nav {
    height: 4.5rem;
    column-gap: 1rem;
  }
  .nav-icon,
  .nav_toggle,
  .nav-close {
    display: none;
  }
  .nav-list {
    display: flex;
    column-gap: 2rem;
  }
  .nav-menu {
    margin-left: auto;
  }
  .nav-item {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  #logo {
    width: 35px;
    margin-bottom: 0.3rem;
  }
}
