/* events */
.nav.custom-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .nav.custom-tab .nav-link {
    color: black;
    font-weight: bold;
    font-size: large;
  }

 /* Coming Soon */

 section.coming-soon {
  background-color: #f7f7f7;
  padding: 30px 0px;
}


section.coming-soon .continer .counter div {
  display: inline-block;
}

section.coming-soon .continer h4 {
  margin-top: 20px;
  font-size: 30px;
  color: #333;
  font-weight: 800;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-bottom: 20px;
}

section.coming-soon .continer h4 em {
  font-style: normal;
  color: #f5a425;
}

@media screen and (max-width: 767px) {
  section.coming-soon .continer h4 {
    text-align: center;
  }
}

section.coming-soon .continer .counter .days,
section.coming-soon .continer .counter .hours,
section.coming-soon .continer .counter .minutes,
section.coming-soon .continer .counter .seconds {
  width: 22%;
  height: 140px;
  float: left;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
}

@media screen and (max-width: 992px) {
  section.coming-soon .continer .counter .days,
  section.coming-soon .continer .counter .hours,
  section.coming-soon .continer .counter .minutes,
  section.coming-soon .continer .counter .seconds {
    font-size: 26px;
  }

  section.coming-soon .continer .counter .days .value,
  section.coming-soon .continer .counter .hours .value,
  section.coming-soon .continer .counter .minutes .value,
  section.coming-soon .continer .counter .seconds .value {
    margin-top: 5px !important;
  }

  section.coming-soon .continer .counter span {
    font-size: 14px !important;
  }
}

section.coming-soon .continer .counter .days,
section.coming-soon .continer .counter .hours,
section.coming-soon .continer .counter .minutes {
  margin-right: 4%;
}

section.coming-soon .continer .counter .days .value,
section.coming-soon .continer .counter .hours .value,
section.coming-soon .continer .counter .minutes .value,
section.coming-soon .continer .counter .seconds .value {
  margin-top: 10px;
  display: block;
  width: 100%;
}

section.coming-soon .continer .counter span {
  font-size: 18px;
  text-transform: uppercase;
  color: #f5a425;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 0px;
  display: block;
}

section.coming-soon .right-content {
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  section.coming-soon .right-content {
    margin-top: 20px;
    margin-left: 0px;
  }
}

section.coming-soon .top-content {
  margin-bottom: -8px;
}

section.coming-soon .top-content h6 {
  font-size: 14px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  text-align: center;
  line-height: 24px;
}

section.coming-soon .top-content h6 em {
  font-style: normal;
  font-weight: 600;
}

section.coming-soon form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 60px 40px;
  width: 100%;
  text-align: center;
}

section.coming-soon form input {
  width: 100%;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0px;
  border: none;
  outline: none;
  color: #333;
  font-size: 13px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

section.coming-soon form input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
}

section.coming-soon form::placeholder {
  color: #333;
}

section.coming-soon form input::placeholder {
  color: #333;
}

section.coming-soon form input::placeholder {
  color: #333;
}

section.coming-soon form button {
  margin-top: 10px;
  background-color: #f5a425;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  padding: 12px 20px;
  display: inline-block;
  outline: none;
  box-shadow: none;
  border: none;
}

/* speakers */
.serction_title_large h3 {
  font-size: 80px;
  font-weight: 700;
  color: #f5a425;
  display: inline-block;
  position: relative;
}

@media (max-width: 767px) {
  .serction_title_large h3 {
    font-size: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .serction_title_large h3 {
    font-size: 45px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .serction_title_large h3 {
    font-size: 60px;
  }
}

.speakers_area {
  padding-top: 20px;
  position: relative;
  padding-bottom: 105px;
}
@media (max-width: 767px) {
  .speakers_area {
    padding-bottom: 0px;
    padding-top: 50px;
  }
}

.speakers_area .single_speaker {
  margin-top: 10px;
  overflow: hidden;
}

.speakers_area .single_speaker .speaker_thumb {
  position: relative;
  overflow: hidden;
}


.speakers_area .single_speaker .speaker_thumb img {
  width: 100%;
}


.speakers_area .single_speaker .speaker_thumb .hover_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: rgba(255, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(80%);
  -moz-transform: translateY(80%);
  -ms-transform: translateY(80%);
  transform: translateY(80%);
  opacity: 0;
}


.speakers_area .single_speaker .speaker_thumb .hover_overlay .social_icon {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 40px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}


.speakers_area .single_speaker .speaker_thumb .hover_overlay .social_icon a {
  width: 50px;
  height: 50px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  line-height: 50px;
  font-size: 17px;
  color: #FF0000;
  margin: 0 7px;
}


.speakers_area .single_speaker .speaker_thumb .hover_overlay .social_icon a:hover {
  color: #fff;
}


.speakers_area .single_speaker .speaker_name h3 {
  font-size: 26px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 7px;
}


.speakers_area .single_speaker .speaker_name p {
  margin-bottom: 0;
  font-size: 16px;
  color: #FF0000;
  font-weight: 400;
}


.speakers_area .single_speaker:hover .hover_overlay {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}


.speakers_area .single_speaker:hover .speaker_thumb .social_icon {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.event_area .single_speaker {
  margin-bottom: 63px;
}

@media (max-width: 767px) {
  .event_area .single_speaker {
    margin-bottom: 30px;
  }
}
.event_area .single_speaker img {
  float: left;
}

@media (max-width: 767px) {
  .event_area .single_speaker img {
    float: none;
  }
}
.event_area .single_speaker .speaker-name {
  padding-left: 30px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .event_area .single_speaker .speaker-name {
    padding-left: 0;
    margin-top: 20px;
  }
}
.event_area .single_speaker .speaker-name .heading {
  margin-bottom: 5px;
}
.event_area .single_speaker .speaker-name .heading span {
  font-size: 26px;
  color: #1F1F1F;
  font-weight: 500;
}
.event_area .single_speaker .speaker-name .heading .time {
  font-size: 16px;
  font-weight: 500;
  color: #1F1F1F;
}
.event_area .single_speaker p {
  color: #707070;
  font-size: 16px;
  line-height: 28px;
}

.light_background {
  background-color: #f8f9fa;
}
.speaker_thumb {
  position: relative;
  overflow: hidden;
}

.speaker_thumb img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.speaker_thumb:hover img {
  transform: scale(1.1);
}

.speaker_details {
  padding: -8px;
  background-color: #f8f9fa;
}

.speaker_name h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.speaker_name p {
  font-size: 16px;
  font-weight: bold;
  color: #777777;
}