.floating-image {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    
  }
  .narrower-card{
    max-width: 20rem; 
  }
  img{
    border-radius: 50%;
  }