#linkedin{
    text-align: justify; 
    text-justify: inter-word;
}
#collab{
    text-align: justify; 
    text-justify: inter-word;
}
#facebook{
text-align: justify; 
text-justify: inter-word;

}
#instagram{
    text-align: justify; 
    text-justify: inter-word;
}
#youtube{
    text-align: justify; 
    text-justify: inter-word;
}