#app {
    height: 100%
}
.active{
    color: red;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 400px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}