* {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

.nav-link.active {
  color: red; /* Replace with your desired color for the active link */
}

.nav-item a {
  position: relative;
  text-decoration: none;
}
.nav-item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #f69546;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.nav-item a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
#jukti_logo {
  width: 2rem;
}

/* FOOTER */
.quick-links li {
  margin-bottom: 8px;
}

.quick-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.quick-links a:hover {
  color: #d66000;
}

/* Benfits */
.benefit-card {
  width: 20rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.benefit-card:hover {
  transform: translateY(-5px);
}

.card-title {
  color: #333;
}

.card-text {
  color: #777;
}

.card-body {
  padding: 1.5rem;
}

.fixed-height {
  height: 14rem;
}

#benefits-section {
  margin-bottom: 15rem;
}

@media (min-width: 1199px) {
  #bcard-1 {
    top: -2rem;
  }
  #bcard-2 {
    top: -2rem;
    right: -10rem;
  }
  #bcard-3 {
    top: 9rem;
    right: 14rem;
  }
}

/* Upcomming event countdown */

#upCount {
  border-radius: 0.5rem;
}
.count-text {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (min-width: 767px) {
  #upCount {
    top: -2.5rem;
  }
  .count-text {
    font-size: 2rem;
    font-weight: 500;
  }
}

/* collab */
.collab-item {
  padding: 40px, 30px;
  box-shadow: 0 0 9px rgba (0, 0, 0 0.6);
}
.collab-item i {
  font-size: 30px;
  margin: 10px;
}
.collab-item h4 {
  margin-bottom: 10px;
}
.collab-item hr {
  width: 46px;
  height: 3px;
  background-color: orange;
  margin: 0 auto;
  border: nome;
}
.collab-item p {
  padding: 30px;
}

.elevate,
.benefit-card {
  -webkit-box-shadow: 0px 13px 42px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 13px 42px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 13px 42px -20px rgba(0, 0, 0, 0.75);
}

.border-top1 {
  margin-bottom: 1rem;
}

.border-line {
  width: 5rem;
  height: 0.3rem;
  border-radius: 2rem;
  background-color: #f69546;
}

.custom-shape-divider-bottom-1686588743 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686588743 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 69px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1686588743 .shape-fill {
  fill: #eee;
}

@media (max-width: 991.98px) {
  .elevate-row {
    display: flex;
    flex-wrap: wrap;
  }

  .elevate-row > div[class^="col-"] {
    width: 100%;
  }
}

.faq-section {
  padding: 60px 0;
}

/* .section-title {
  color: #081420;
  font-size: 28px;
  margin-bottom: 30px;
} */

.accordion-button {
  background-color: #f5f5f5;
  color: #081420;
  font-weight: bold;
}

.accordion-button:not(.collapsed) {
  background-color: #081420;
  color: #fff;
}

.accordion-body {
  background-color: #eee;
  color: #555;
}

.faq-answer {
  margin-bottom: 20px;
}

.faq-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.section-heading a:before {
  width: 1px;
  height: 50px;
  background-color: #f69546;
  position: absolute;
  top: -52px;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}

.section-heading a {
  margin-top: 50px;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: #f69546;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid #f69546;
}

.custom-shape-divider-top-1686612771 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1686612771 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 69px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1686612771 .shape-fill {
  fill: #eee;
}

a:hover {
  color: #fc3;
  text-decoration: none;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
p {
  font-size: 13px;
  line-height: 22px;
}
.item {
  height: 400px;
}
.down-content {
  height: 400px;
}
/* Section Heading */
.section-heading {
  text-align: center;
  margin-bottom: 50px;
}

.section-heading h2:before {
  width: 1px;
  height: 50px;
  background-color: #f69546;
  position: absolute;
  top: -52px;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}

.section-heading h2 {
  margin-top: 50px;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: #f69546;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 15px;
  border: 2px solid #f69546;
}

/* Section Events */
section.events {
  background-size: cover;
  background-color: #eee;
  padding-bottom: 100px;
  padding: 0px 30px 100px 30px;
}

section.events .owl-carousel {
  margin: 0 -15px;
}

section.events .owl-carousel .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 15px;
}

section.events .item img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

section.events .item .down-content {
  padding: 32px;
  background-color: #eee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /* border: 1px solid #f69546; */
}

section.events .item .down-content h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #1e1e1e;
  letter-spacing: 0.5px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}

section.events .item .down-content p {
  margin-bottom: 25px;
}

section.events .item .down-content img {
  width: 40px;
  border: 2px solid #f5a425;
  border-radius: 50%;
  text-align: left;
  display: inline-block;
}

section.events .item .down-content .text-button-pay,
section.events .item .down-content .text-button-free {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1.2rem;
  margin-right: 1.8rem;
}

section.events .item .down-content .text-button-pay a {
  color: #f5a425;
  font-size: 13px;
}

/* Owl Carousel */
section.events .owl-carousel .owl-nav {
  display: none;
}

section.events .owl-carousel .owl-dots {
  text-align: center;
}

section.events .owl-carousel button.owl-dot {
  width: 6px;
  height: 6px;
  background-color: #eee;
  margin: 25px 5px 0px 5px;
  outline: none;
}

section.events .owl-carousel button.active {
  background-color: #f5a425;
}

/* borad members card */
.floating-image {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.narrower-card {
  max-width: 20rem;
}
img {
  border-radius: 50%;
}
/* Video */

/* section.video {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #172238;
  padding: 120px 0px;
}

section.video .left-content {
color: #fff;
}

section.video .left-content span {
text-transform: uppercase;
font-size: 14px;
letter-spacing: 0.5px;
}

section.video .left-content h4 {
  margin-top: 20px;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin-bottom: 20px;
}
section.video .left-content h4 em {
  font-style: normal;
  color: #f5a425;
}

section.video .left-content .main-button {
margin-top: 30px;
}

.video-item {
position: relative;
width: 100%;
max-width: 600px;
margin: 0px auto 0;
}

@media screen and (max-width: 767px) {

section.video .left-content {
  margin-bottom: 45px;
}

section.video .first-item .first-content h4,
section.video .second-item .second-content h4 {
  text-align: center;
}

}

.video-item figure {
position: relative;
width: 100%;
font-size: 0;
}
.video-item figure img {
width: 100%;
}
.video-item figure a:before {
content: '';
position: absolute;
bottom: 10px;
right: 15px;
width: 60px;
height: 60px;
margin-top: -32.5px;
margin-left: -32.5px;
border-radius: 50%;
background-color: #f5a425;
z-index: 10;
}
.video-item figure a:after {
content: '';
position: absolute;
bottom: 27.5px;
right: 20px;
margin-top: -12.5px;
margin-left: -7px;
border: solid 13px transparent;
border-left: solid 20px;
border-left-color: #fff;
z-index: 10;
}
.video-item figure a:hover:before {
background-color: #f5a425;
}

.video-item .video-caption {
  position: absolute;
  z-index: 10;
  background-color: rgba(250,250,250,0.75);
  height: 80px;
  width: 100%;
  padding: 27px 30px;
  bottom: 0;
}

.video-item .video-caption h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
} */
